<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>381190853456-c2ke6pb7ko7or362g5ii9mn9cj8bh8qu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.381190853456-c2ke6pb7ko7or362g5ii9mn9cj8bh8qu</string>
	<key>API_KEY</key>
	<string>AIzaSyB2xFVtCa6qrIpHXdTXE8zP4jNRv3LWUxQ</string>
	<key>GCM_SENDER_ID</key>
	<string>381190853456</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mutluclkn.Instagram-Clone</string>
	<key>PROJECT_ID</key>
	<string>instagram-33f09</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-33f09.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:381190853456:ios:6c8cf6f29454428ddcd255</string>
	<key>DATABASE_URL</key>
	<string>https://instagram-33f09-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>